@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div id="divDeviceList" class="col-md-3">
        <h2>Online Devices</h2>
    </div>
    <div id="divDeviceDetails" class="col-md-9">
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
